body {
    background: lightgray;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0;
}


.title {
    margin: 0 24px;
}

.subtitle {
    margin: 0 24px;
}

.header {
    position: fixed;
    background: #525252;
    height: 70px;
    width: 100%;
    display: flex;
    top: 0;
    overflow: hidden;
    opacity: 1;
    flex-direction: column;
    z-index: 102;
}

.left-menu {
    z-index: 100;
    background: #3d3d3d;
    position: fixed;
    width: 150px;
    top: 0;
    bottom: 0;
    height: auto;
    left: 0;
    align-items: center;
}

.user {
    display: flex;
    position: absolute;
    left: 20px;
    align-items: center;
    max-width: 140px;
    z-index: 101;
}

.icon-user {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #525252;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.user-info {
    font-size: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.user-massage {
    display: flex;
    margin-left: 160px;
    align-items: center;
}

.user-name {
    margin: 0;
}

.text {
    display: block;
    min-width: 100%;
    margin: 0;
    border: 1px black solid;
    padding: 12px;
    background: #525252;
    color: white;
    height: auto;
}

.massage {
    padding: 24px;
    width: 95%;
}

.user-select {
    background: #350808;
    padding: 2px;
    color: red;
}

.container {
    margin-top: 100px;
    overflow-y: scroll;
}